@import '../../styles/screens';

.header {
  margin: 0px;
  letter-spacing: -0.03em;
  line-height: 46px;
  font-size: 40px;
  font-weight: 500;
}

.text {
  color: var(--background-700);
}

.logo {
  svg {
    height: 24px;
    width: auto;
    path {
      fill: var(--background-900);
    }
  }
}

.picture {
  @media (max-width: $screen-lg) {
    display: none;
  }
}
