@import '../../styles/screens';

.header {
  margin: 0px;
  letter-spacing: -0.03em;
  line-height: 46px;
  font-size: 44px;
  font-weight: 500;
}

.text {
  color: var(--background-700);
}

.logo {
  svg {
    height: 24px;
    width: auto;
    path {
      fill: var(--background-900);
    }
  }
}

.picture {
  height: calc(45vw + 45vh);
  width: 100%;
  transform-origin: left bottom;
  transform: rotate(50deg);
  transition: 3s;
  animation: Picture 20s ease infinite;
}

@keyframes Picture {
  0% {
    background: rgba(28, 52, 236, 0.5);
  }
  25% {
    background: HSLA(189,100%,55%,0.5);
  }
  50% {
    background: HSLA(240,100%,56%,0.5);
  }
  75% {
    background: HSLA(222,77%,46%,0.5);
  }
  100% {
    background: rgba(28, 52, 236, 0.5);
  }
}

.picture_overflow {
  height: calc(45vw + 45vh);
  width: 100%;
  transform-origin: left bottom;
  transform: rotate(50deg);
  background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, var(--background-body-80) 100%);
  z-index: 100;
  &-1 {
    padding-top: 15vh;
  }
  &-2 {
    padding-top: 30vh;
  }
}

