@import '../../../styles/screens';

.card {
  outline: var(--border-default);
  box-shadow: var(--shadow-grey-sm);
  transition: var(--transition-sfast);
  display: grid;
  grid-template-columns: 40px 1fr 120px;
  &:hover {
    box-shadow: var(--shadow-grey-md);
  }
  @media (min-width: $screen-lg) {
    grid-template-columns: 32px 1fr 1fr;
  }
  text-overflow: ellipsis;
}

.card-content {
  @media (max-width: $screen-md) {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  width: max-content;
}

.vacancy_name {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  width: max-content;
  cursor: pointer;
}

.icon {
  width: 40px;
}

.metadata_icon {
  width: 16px;
  padding-top: 4px;
}

.metadata {
  font-size: 12px;
  letter-spacing: -0.02em;
  color: var(--background-200);
  @media (max-width: $screen-md) {
    display: none;
  }
}

.salary {
  @media (min-width: $screen-sm) and (max-width: $screen-md) {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  @media (max-width: $screen-sm) {
    grid-column-start: 1;
    grid-column: 1/4;
    grid-row-start: 3;
    align-items: end;
    justify-content: flex-start;
  }
}

.per_month {
  font-size: 14px;
  font-weight: 500;
}

.content {
  margin-top: 143px;
}

.link {
  grid-column-start: 2;
  grid-row-start: 2;
  @media (min-width: $screen-sm) and (max-width: $screen-md) {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  @media (max-width: $screen-sm) {
    grid-column-start: 1;
    grid-row-start: 4;
  }
  width: max-content;
}

.details {
  grid-column-start: 3;
  grid-row-start: 2;
  @media (min-width: $screen-sm) and (max-width: $screen-md) {
    grid-row-start: 3;
  }
  @media (max-width: $screen-sm) {
    display: none;
  }
}

.details_text {
  font-size: 12px;
  font-weight: 500;
  color: var(--background-600);
  &:hover {
    color: var(--background-400);
  }
}

.arrow {
  width: 8px;
  padding-bottom: 14px;
}

.description {
  grid-column: 2 / 4;
  grid-row-start: 3;
  font-size: 14px;
  font-weight: 400;
  @media (max-width: $screen-md) {
    grid-column: 1/4;
    grid-row-start: 4;
  }
}

.description_text {
  color: var(--background-500);
  line-height: 22px;
  letter-spacing: -0.02em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
}

.resume_img {
  height: 24px;
  width: 24px;
  font-size: 12px;
  border-radius: var(--border-radius-sm);
}

.details_button {
  max-width: 100px;
}
