@import '../../../styles/globals.scss';
@import '../../../styles/screens';

.header {
  height: var(--header-height);
  font-size: 14px;
  background-color: var(--background-body-80);
  backdrop-filter: blur(20px);
  z-index: 50;
}

.theme {
  cursor: pointer;
  svg {
    height: 24px;
  }
}

.items {
  @media (max-width: $screen-md) {
    display: none;
  }
}

.item__def {
  cursor: pointer;
  color: var(--background-700);
  transition: var(--transition-sfast);
  &:hover {
    color: var(--background-500);
  }
}

.item__active {
  cursor: pointer;
  color: var(--background-900);
  text-shadow: var(--shadow-header);
  &:hover {
    color: var(--background-900);
  }
}

.auth {
  @media (max-width: $screen-md) {
    display: none;
  }
}

.signup {
  cursor: pointer;
  color: var(--background-900);
  transition: var(--transition-sfast);
  &:hover {
    color: var(--background-700);
  }
}

.menu_icon {
  height: 24px;
  width: 24px;
  @media (min-width: $screen-md) {
    display: none;
  }
}



