@import '../../../styles/globals.scss';

.header {
  height: 56px;
  font-size: 14px;
  background-color: var(--background-body-80);
  backdrop-filter: blur(20px);
}

.item__def {
  cursor: pointer;
  color: var(--background-700);
  transition: var(--transition-sfast);
  &:hover {
    color: var(--background-500);
  }
}

.item__active {
  cursor: pointer;
  color: var(--background-900);
  text-shadow: var(--shadow-header);
  &:hover {
    color: var(--background-900);
  }
}

.signup {
  cursor: pointer;
  color: var(--background-900);
  transition: var(--transition-sfast);
  &:hover {
    color: var(--background-700);
  }
}



