.popup {
  right: 24px;
  bottom: 24px;
  padding: 12px 20px;
  border: var(--border-light);
  transition: var(--transition-slow-0);
  background: var(--background-red-100);
  box-shadow: 0 6px 16px rgba(243, 42, 42, 0.12);
  border-width: 2px;
  border-image: linear-gradient(180deg, rgba(243, 42, 42, 0.8) 0%, rgba(243, 42, 42, 0.4) 100%);
  border-radius: 24px;
}

.popup_header {
  color: var(--primary-red);
  font-size: 14px;
  font-weight: 600;
}

.popup_text {
  color: var(--background-700);
  font-size: 12px;
}
