@import "./variables";
@import "./colors";
@import "./components/Description";
@import "./components/Input";
@import "./components/SubmitButton";
@import "./components/form";

.auth {
  position: relative;
  display: grid;
  @media (max-width: $screen-md) {
    grid-template-columns: 100% 0;
  }
  @media (min-width: $screen-md) {
    grid-template-columns: 50% 50%;
  }
  height: 100vh;
}
