@import './variables';
@import './colors';

.auth {
  position: relative;
  display: grid;
  @media (max-width: $screen-md) {
    grid-template-columns: 100vw 0;
  }
  @media (min-width: $screen-md) {
    grid-template-columns: 50vw 50vw;
  }
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.menu__wrapper {
  width: 100%;
  @media (min-width: $screen-md) {
    max-width: 400px;
  }
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (min-width: $screen-lg) {
    gap: 40px;
  }
}

.toggle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.toggle__element {
  padding: 16px 24px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: $screen-lg) {
    align-content: center;
  }
  gap: 10px;
  background: #ffffff;
  border: 1px solid #dadae0;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  transition: 0.25s;
  cursor: pointer;
}

.toggle__element h5 {
  color: #9797a2;
  transition: 0.5s;
}

.toggle__element p {
  color: #9797a2;
  transition: 0.5s;
}

.toggle__element-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.toggle__element-icon_active {
  background-color: #1c34ec;
  transition: 0.5s;
}

.toggle__element-icon_disabled {
  border: 2px solid #dadae0;
}

.toggle__element-icon_disabled img {
  visibility: hidden;
}

.toggle__active {
  background: #f3f5ff;
  border: 2px solid #1c34ec;
  box-shadow: 0px 4px 16px rgba(81, 101, 255, 0.24);
  border-radius: 16px;
}

.toggle__active h5 {
  color: #1c34ec;
}

.toggle__active p {
  color: #9ba0c9;
}

.toggle__element-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.menu__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  background: #ffffff;
  border: 1px solid #dadae0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.form__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 6px;
}

.form__input label {
  font-size: 12px;
  color: #6d6d7a;
  letter-spacing: -0.02em;
}

.form__input input {
  padding: 10px 14px;
  background: #ffffff;
  border: 1.5px solid #f8f8f8;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.form__input input:focus {
  padding: 10px 14px;
  background: #ffffff;
  border: 1.5px solid #dadae0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.form__submit-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background: #1c34ec;
  border: 2px solid rgba(28, 52, 236, 0.16);
  box-shadow: 0 4px 12px rgba(28, 52, 236, 0.24);
  border-radius: 12px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.03em;
  cursor: pointer;
}

.form__question {
  width: 100%;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  font-weight: lighter;
  color: #9797a2;
}

.form__question_a {
  color: $color-grey-300;
  width: 100%;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

.form__question_a:hover {
  color: $color-grey-500;
  text-decoration: none;
}

.description {
  @media (max-width: $screen-md) {
    display: none;
  }
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden;
}

.description__container {
  padding: 64px 64px 0 64px;
  height: 50vh;
  @media (min-width: $screen-xlg) {
    padding: 120px 120px 0 120px;
  }
}

.description__header {
  margin-top: 40px;
}

.description__text {
  margin-top: 24px;
  max-width: 800px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #6d6d7a;
}

.description__img-wrapper {
  position: relative;
  height: 50vh;
}

.description__img {
  pointer-events: none;
  position: absolute;
  border-radius: 64px 0 0 0;
  width: 100%;
  max-width: 800px;
  left: 5rem;
  bottom: 0;
  object-fit: cover;
  @media (max-width: $screen-md) {
    display: none;
  }
}
