// Primary
$color-primary-blue: #1C34EC;
$color-primary-red: #f32a2a;
$color-primary-purple: #97a2fb;

// Grey
$color-grey-900: #33333c;
$color-grey-800: #464651;
$color-grey-700: #595965;
$color-grey-600: #6d6d7a;
$color-grey-500: #81818e;
$color-grey-400: #9797a2;
$color-grey-300: #adadb7;
$color-grey-200: #c3c3cb;
$color-grey-100: #dadae0;
$color-grey-50: #f8f8f8;
