@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "colors";
@import "./components/RadioButton";
@import "./variables";

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  color: #33333c;
  position: relative;
  box-sizing: border-box;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 81%;
  letter-spacing: -0.03em;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.02em;
  margin: 0;
  margin-block: 0;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.02em;
  margin: 0;
  margin-block: 0;
}

h5 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.02em;
  margin: 0;
  margin-block: 0;
}

p {
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 22px;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  background: $color-grey-50;
  border: 1px solid $color-grey-100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  cursor: pointer;
  transition: 0.25s;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.btn:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.btn-active {
  background: $color-primary-blue;
  border: 2px solid rgba(28, 52, 236, 0.16);
  box-shadow: 0 4px 12px rgba(28, 52, 236, 0.24);
  color: white;
  font-weight: 700;
}

.invalid-input,
.invalid-input:focus {
  outline: none;
  color: $color-primary-red;
  border: 2px solid $color-primary-red !important;
}
