.header_substrate {

  header: any;position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-height);
  background: linear-gradient(180deg, #0077FF 0%, rgba(255, 255, 255, 0) 100%);
}