:root {
  --primary-blue: #1c34ec;
  --primary-red: #f32a2a;
  --primary-purple: #97a2fb;

  --background-900: #33333c;
  --background-800: #464651;
  --background-700: #595965;
  --background-600: #6d6d7a;
  --background-500: #81818e;
  --background-400: #9797a2;
  --background-300: #adadb7;
  --background-200: #c3c3cb;
  --background-100: #dadae0;
  --background-50: #f8f8f8;
  --background-0: #fff;

  --shadow-small: 0 4px 8px rgba(0, 0, 0, 0.04);
  --shadow-big: 0 8px 32px rgba(0, 0, 0, 0.12);

  --transition-sfast: 0.15s;
  --transition-fast: 0.2s;
  --transition-medium: 0.5s;
  --transition-slow-0: 0.75s;
  --transition-slow-1: 1s;
  --transition-slow-2: 2s;
  --transition-slow-3: 3s;
}
