@import './screens';
@import './fonts';
@import './columns';

:root[theme='dark'] {
  --background-900: #fff;
  --background-800: #f8f8f8;
  --background-700: #dadae0;
  --background-600: #c3c3cb;
  --background-500: #adadb7;
  --background-400: #9797a2;
  --background-300: #81818e;
  --background-200: #6d6d7a;
  --background-100: #595965;
  --background-50: #33333c;
  --background-0: #26262d;
  --background-body: #0F0F0F;
  --background-body-80: rgba(15, 15, 15, 0.8);
  --background-body-60: rgba(15, 15, 15, 0.6);

  --background-red: rgba(243, 42, 42, 0.10);
  --background-red-100: #2A1212;
  --background-green-100: #12261A;

  --shadow-grey-md: 0px 4px 12px rgba(255, 255, 255, 0.08);
          //--background-modal: rgba(255, 255, 255, 0.4);
}

:root[theme='light'] {
  --background-900: #33333c;
  --background-800: #464651;
  --background-700: #595965;
  --background-600: #6d6d7a;
  --background-500: #81818e;
  --background-400: #9797a2;
  --background-300: #adadb7;
  --background-200: #c3c3cb;
  --background-100: #dadae0;
  --background-50: #f8f8f8;
  --background-0: #fff;
  --background-body: #fff;
  --background-body-80: rgba(255, 255, 255, 0.8);
  --background-body-60: rgba(255, 255, 255, 0.6);

  --background-red: rgba(243, 42, 42, 0.06);
  --background-red-100: #FEECEC;
  --background-green-100: #EEFBF3;
  //--background-modal: rgba(15, 15, 15, 0.4);

  // TODO: добавить разные shadow для тем
  --shadow-grey-md: 0px 6px 20px rgba(0, 0, 0, 0.08);
}

:root {
  --white: #fff;
  --primary-blue: #1C34EC;
  --primary-blue-darker: #162ab6;
  --primary-red: #f32a2a;
  --background-red: rgba(243, 42, 42, 0.12);
  --primary-purple: rgba(128, 137, 215, 0.5);

  --background-modal: rgba(15, 15, 15, 0.75);

  --shadow-grey-xs: 0 4px 4px rgba(0, 0, 0, 0.02);
  --shadow-grey-sm: 0 4px 8px rgba(0, 0, 0, 0.04);
  --shadow-grey-lg: 0 8px 32px rgba(0, 0, 0, 0.12);
  --shadow-blue-md: 0px 4px 16px rgba(28, 52, 236, 0.16);
  --shadow-blue-lg: 0px 4px 24px rgba(28, 52, 236, 0.24);
  --shadow-red-md: 0px 4px 20px rgba(243, 42, 42, 0.16);
  --shadow-header: 0 0 .45px #333, 0 0 .45px #333;

  --transition-sfast: 0.15s;
  --transition-fast: 0.2s;
  --transition-medium: 0.5s;
  --transition-slow-0: 0.75s;
  --transition-slow-1: 1s;
  --transition-slow-2: 2s;
  --transition-slow-3: 3s;

  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 24px;
  --border-radius-max: 999px;

  --border-light: 1px solid var(--background-50);
  --border-default: 1px solid var(--background-100);
  --border-blue: 1px solid var(--primary-blue);
  --border-dark: 1px solid var(--background-900);
  --border-red: 2px solid var(--primary-red);

  --padding-2: 2px;
  --padding-4: 4px;
  --padding-8: 8px;
  --padding-16: 16px;
  --padding-24: 24px;
  --padding-32: 32px;
  --padding-40: 40px;
  --padding-200: 200px;
  --padding-sm: 10px 12px;

  --gap-4: 4px;
  --gap-6: 6px;
  --gap-8: 8px;
  --gap-12: 12px;
  --gap-16: 16px;
  --gap-24: 24px;
  --gap-32: 32px;
  --gap-40: 40px;

  --padding-screen-sm: 16px;
  --padding-screen-md: 120px;
  --padding-screen-lg: 10vw;
  --padding-screen-xlg: 15vw;
  --padding-screen-xxlg: 25vw;

  --header-height: 56px;
  --input-height: 54px;
}

::selection {
  background-color: var(--primary-purple);
}

body {
  background-color: var(--background-body);
  color: var(--background-900);
  font-family: 'Inter', sans-serif;
  left: 0;
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 55px;
  letter-spacing: -0.03em;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: -0.02em;
  margin-top: 4px;
  margin-bottom: 4px;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.02em;
  margin-top: 4px;
  margin-bottom: 4px;
}

h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  margin-top: 4px;
  margin-bottom: 4px;
}

h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  margin-top: 4px;
  margin-bottom: 4px;
}

h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.01em;
  margin-top: 4px;
  margin-bottom: 4px;
}

p {
  margin: 0;
  line-height: 22px;
  font-size: 14px;
}

.font-size {
  &-12 {
    font-size: 12px;
  }
  &-14 {
    font-size: 14px;
  }
  &-18 {
    font-size: 18px;
  }
  &-24 {
    font-size: 24px;
  }
}

.text {
  &-align {
    &-left {
      text-align: left;
    }
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
  }
}

.bold {
  font-weight: 600;
}

.hidden {
  overflow: hidden;
}

.l-0 {
  &-0 {
    left: 0;
  }
  &-4 {
    left: 4px;
  }
  &-16 {
    left: 16px;
  }
  &-24 {
    left: 24px;
  }
}

.r-0 {
  &-0 {
    right: 0;
  }
  &-4 {
    right: 4px;
  }
  &-16 {
    right: 16px;
  }
  &-24 {
    right: 24px;
  }
}

.x-0 {
  left: 0;
  right: 0;
}

.y-0 {
  top: 0;
  bottom: 0;
}

.t-0 {
  top: 0;
}

.b {
  &-0 {
    bottom: 0;
  }
  &-2 {
    bottom: 2px;
  }
  &-3 {
    bottom: 3px;
  }
  &-4 {
    bottom: 4px;
  }
}

.mx {
  &-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  &-4 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  &-8 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  &-16 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  &-24 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  &-40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &-64 {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}

.mt {
  &-0 {
    margin-top: 0
  }
  &-4 {
    margin-top: 4px;
  }
  &-8 {
    margin-top: 8px;
  }
  &-16 {
    margin-top: 16px;
  }
  &-24 {
    margin-top: 24px;
  }
  &-40 {
    margin-top: 40px;
  }
  &-64 {
    margin-top: 64px;
  }
  &-header {
    margin-top: var(--header-height);
  }
}

.transition {
  &-fast {
    transition: var(--transition-sfast);
  }
}

.mb {
  &-0 {
    margin-bottom: 0
  }
  &-4 {
    margin-bottom: 4px;
  }
  &-8 {
    margin-bottom: 8px;
  }
  &-16 {
    margin-bottom: 16px;
  }
  &-24 {
    margin-bottom: 24px;
  }
  &-40 {
    margin-bottom: 40px;
  }
  &-64 {
    margin-bottom: 64px;
  }
}

.w {
  &-0 {
    width: 0;
  }
  &-25 {
    width: 25%;
  }
  &-50 {
    width: 50%;
  }
  &-75 {
    width: 75%;
  }
  &-100 {
    width: 100%;
  }
  &-50vw {
    width: 50vw;
  }
  &-100vw {
    width: 100vw;
  }
}

.h {
  &-25 {
    height: 25%;
  }
  &-50 {
    height: 50%;
  }
  &-75 {
    height: 75%;
  }
  &-100 {
    height: 100%;
  }
  &-50vh {
    min-height: 50vh;
  }
  &-100vh {
    min-height: 100vh;
  }
}

.g {
  &-4 {
    gap: 4px
  }

  &-6 {
    gap: 6px;
  }

  &-8 {
    gap: 8px
  }
  &-12 {
    gap: 12px
  }
  &-16 {
    gap: 16px
  }
  &-24 {
    gap: 24px
  }
  &-32 {
    gap: 32px;
  }
  &-40 {
    gap: 40px
  }
}

.p {
  &-4 {
    padding: var(--padding-4);
  }
  &-8 {
    padding: var(--padding-8);
  }
  &-16 {
    padding: var(--padding-16);
  }
  &-24 {
    padding: var(--padding-24);
  }
  &-32 {
    padding: var(--padding-32);
  }
  &-40 {
    padding: var(--padding-40);
  }
  &-200 {
    padding: var(--padding-200);
  }
  &t {
    &-2 {
      padding-top: 2px;
    }
    &-3 {
      padding-top: 3px;
    }
    &-4 {
      padding-top: 4px;
    }
  }
  &b {
    &-2 {
      padding-bottom: 2px;
    }
    &-3 {
      padding-bottom: 3px;
    }
    &-4 {
      padding-bottom: 4px;
    }
  }
  &y {
    &-16 {
      padding-top: var(--padding-16);
      padding-bottom: var(--padding-16);
    }
    &-24 {
      padding-top: var(--padding-24);
      padding-bottom: var(--padding-24);
    }
    &-32 {
      padding-top: var(--padding-32);
      padding-bottom: var(--padding-32);
    }
    &-40 {
      padding-top: var(--padding-40);
      padding-bottom: var(--padding-40);
    }
  }
  &x {
    &-16 {
      padding-left: var(--padding-16);
      padding-right: var(--padding-16);
    }
    &-24 {
      padding-left: var(--padding-24);
      padding-right: var(--padding-24);
    }
    &-32 {
      padding-left: var(--padding-32);
      padding-right: var(--padding-32);
    }
    &-40 {
      padding-left: var(--padding-40);
      padding-right: var(--padding-40);
    }
  }
}

.opacity {
  &-0 {
    opacity: 0;
  }
  &-100 {
    opacity: 100;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.none {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
  &-reverse {
    flex-direction: column-reverse;
  }
}

.row {
  flex-direction: row;
  &-reverse {
    flex-direction: row-reverse;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  &-1 {
    flex-grow: 1;
  }
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.align-items {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
  &-strech {
    align-items: stretch;
  }
}

.justify-content {
  &-start {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
  &-end {
    justify-content: flex-end;
  }
  &-space-between {
    justify-content: space-between;
  }
  &-space-evenly {
     justify-content: space-evenly;
  }
  &-space-around {
    justify-content: space-around;
  }
}

justify-items {
  &-start {
    justify-items: flex-start;
  }
  &-center {
    justify-items: center;
  }
  &-end {
    justify-items: flex-end;
  }
  &-end {
    justify-items: flex-end;
  }
  &-strech {
    justify-items: stretch;
  }
}

.flex {
  &-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
  }
  &-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 0;
  }
}

.grid {
  display: grid;
}

.grid-template-columns {
  grid-template-columns: 40px auto 20%;
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
  &-default {
    cursor: default;
  }
  &-help {
    cursor: help;
  }
}

.background {
  &-0 {
    background-color: var(--background-0);
  }
  &-50 {
    background-color: var(--background-50);
  }
  &-100 {
    background-color: var(--background-100);
  }
  &-200 {
    background-color: var(--background-200);
  }
  &-300 {
    background-color: var(--background-300);
  }
  &-400 {
    background-color: var(--background-400);
  }
  &-500 {
    background-color: var(--background-500);
  }
  &-600 {
    background-color: var(--background-600);
  }
  &-700 {
    background-color: var(--background-700);
  }
  &-800 {
    background-color: var(--background-800);
  }
  &-900 {
    background-color: var(--background-900);
  }
  &-red {
    background-color: var(--background-red);
  }
}

.color {
  &-0 {
    color: var(--background-0);
  }
  &-50 {
    color: var(--background-50);
  }
  &-100 {
    color: var(--background-100);
  }
  &-200 {
    color: var(--background-200);
  }
  &-300 {
    color: var(--background-300);
  }
  &-400 {
    color: var(--background-400);
  }
  &-500 {
    color: var(--background-500);
  }
  &-600 {
    color: var(--background-600);
  }
  &-700 {
    color: var(--background-700);
  }
  &-800 {
    color: var(--background-800);
  }
  &-900 {
    color: var(--background-900);
  }
  &-red {
    color: var(--primary-red);
  }
}

.rounded {
  &-sm {
    border-radius: var(--border-radius-sm);
  }
  &-md {
    border-radius: var(--border-radius-md);
  }
  &-lg {
    border-radius: var(--border-radius-lg);
  }
  &-xl {
    border-radius: var(--border-radius-xl);
  }
  &-max {
    border-radius: var(--border-radius-max);
  }
}

.border {
  &-tb {
    &-light {
      border-top: var(--border-light);
      border-bottom: var(--border-light);
    }
    &-default {
      border-top: var(--border-default);
      border-bottom: var(--border-default);
    }
  }
  &-light {
    border: var(--border-light);
  }
  &-default {
    border: var(--border-default)
  }
  &-top {
    &-light {
      border-top: var(--border-light);
    }
    &-default {
      border-top: var(--border-default)
    }
  }
  &-bottom {
    &-light {
      border-bottom: var(--border-light);
    }
    &-default {
      border-bottom: var(--border-default)
    }
  }
  &-blue {
    border: var(--border-blue)
  }
  &-red {
    border: var(--border-red);
  }
}

.border-none {
  border: none
}

.border-dashed {
  border-style: dashed;
}

.inner-svg {
  &-h {
    &-16 {
      > svg {
        height: 16px;
      }
    }
    &-24 {
      > svg {
        height: 24px;
      }
    }
    &-40 {
      > svg {
        height: 40px;
      }
    }
  }
  &-0 {
    > svg {
      > path {
        fill: var(--background-0);
      }
    }
  }
  &-50 {
    > svg {
      > path {
        background: var(--background-50);
      }
    }
  }
  &-100 {
    > svg {
      > path {
        fill: var(--background-100);
      }
    }
  }
  &-200 {
    > svg {
      > path {
        fill: var(--background-200);
      }
    }
  }
  &-300 {
    > svg {
      > path {
        fill: var(--background-300);
      }
    }
  }
  &-400 {
    > svg {
      > path {
        fill: var(--background-400);
      }
    }
  }
  &-500 {
    > svg {
      > path {
        fill: var(--background-500);
      }
    }
  }
  &-600 {
    > svg {
      > path {
        fill: var(--background-600);
      }
    }
  }
  &-700 {
    > svg {
      > path {
        fill: var(--background-700);
      }
    }
  }
  &-800 {
    > svg {
      > path {
        fill: var(--background-800);
      }
    }
  }
  &-900 {
    > svg {
      > path {
        fill: var(--background-900);
      }
    }
  }
}

.invalid-input {
  color: var(--primary-red);
  border: var(--border-red);
  background-color: var(--primary-red-6);
  + p {
    font-weight: 600;
    font-size: 12px;
    color: var(--primary-red);
  }
}

.shadow {
  &-sm {
    box-shadow: var(--shadow-grey-sm);
  }
  &-md {
    box-shadow: var(--shadow-grey-md);
  }
  &-lg {
    box-shadow: var(--shadow-grey-lg);
  }
  &-blue {
    box-shadow: var(--shadow-blue-md);
  }
}

.z {
  &-0 {
    z-index: 0;
  }
  &-1 {
    z-index: 1;
  }
  &-2 {
    z-index: 2;
  }
  &-3 {
    z-index: 3;
  }
  &-4 {
    z-index: 4;
  }
  &-5 {
    z-index: 5;
  }
  &-6 {
    z-index: 6;
  }
  &-7 {
    z-index: 7;
  }
  &-8 {
    z-index: 8;
  }
  &-9 {
    z-index: 9;
  }
  &-10 {
    z-index: 10;
  }
}
