$screen-xsm: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1500px;
$screen-xl: 2000px;
$screen-xxl: 3656px;

.screen-responsive {
  @media (max-width: $screen-sm) {
    padding-left: var(--padding-screen-sm);
    padding-right: var(--padding-screen-sm);
  }
  @media (min-width: $screen-sm) and (max-width: $screen-md){
    padding-left: var(--padding-screen-md);
    padding-right: var(--padding-screen-md);
  }
  @media (min-width: $screen-md) and (max-width: $screen-lg){
    padding-left: var(--padding-screen-lg);
    padding-right: var(--padding-screen-lg);
  }
  @media (min-width: $screen-lg) and (max-width: $screen-xl){
    padding-left: var(--padding-screen-xlg);
    padding-right: var(--padding-screen-xlg);
  }
  @media (min-width: $screen-xl) and (max-width: $screen-xxl){
    padding-left: var(--padding-screen-xxlg);
    padding-right: var(--padding-screen-xxlg);
  }
}

.columns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@mixin sizes($screen) {
  &-auto {
    grid-column: span auto;
  }
  &-0 {
    @media (min-width: $screen) {
      grid-column: auto;
      display: none;
    }
  }
  &-1 {
    @media (min-width: $screen) {
      grid-column: span 1;
      display: flex;
    }
  }
  &-2 {
    @media (min-width: $screen) {
      grid-column: span 2;
      display: flex;
    }
  }
  &-3 {
    @media (min-width: $screen) {
      grid-column: span 3;
      display: flex;
    }
  }
  &-4 {
    @media (min-width: $screen) {
      grid-column: span 4;
      display: flex;
    }
  }
  &-5 {
    @media (min-width: $screen) {
      grid-column: span 5;
      display: flex;
    }
  }
  &-6 {
    @media (min-width: $screen) {
      grid-column: span 6;
      display: flex;
    }
  }
  &-7{
    @media (min-width: $screen) {
      grid-column: span 7;
      display: flex;
    }
  }
  &-8{
    @media (min-width: $screen) {
      grid-column: span 8;
      display: flex;
    }
  }
  &-9{
    @media (min-width: $screen) {
      grid-column: span 9;
      display: flex;
    }
  }
  &-10{
    @media (min-width: $screen) {
      grid-column: span 10;
      display: flex;
    }
  }
  &-11{
    @media (min-width: $screen) {
      grid-column: span 11;
      display: flex;
    }
  }
  &-12{
    @media (min-width: $screen) {
      grid-column: span 12;
      display: flex;
    }
  }
}

.col {
  @include sizes(0);
  &-sm {
    @include sizes($screen-sm);
  }
  &-md {
    @include sizes($screen-md);
  }
}
