@import '../../styles/screens';

.form_block {
  @media (min-width: $screen-lg) {
    min-width: 360px;
    padding-right: 180px;
  }
}

.form_link {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-500);
  &:hover {
    color: var(--background-700);
  }
}

.confirm {
  @media (max-width: $screen-sm) {
    width: 80vw;
  }
  @media (min-width: $screen-sm) {
    width: 60vw;
  }
  @media (min-width: $screen-md) {
    width: 40vw;
  }
  @media (min-width: $screen-lg) {
    width: 500px;
  }
}
