.description {
  @media (max-width: $screen-md) {
    display: none;
  }
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden;
}

.description__container {
  padding: 64px 64px 0 64px;
  height: 50vh;
  @media (min-width: $screen-xlg) {
    padding: 120px 120px 0 120px;
  }
}

.description__header {
  margin-top: 40px;
}

.description__text {
  margin-top: 24px;
  max-width: 800px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #6d6d7a;
}

.description__img-wrapper {
  position: relative;
  height: 50vh;
}

.description__img {
  pointer-events: none;
  position: absolute;
  border-radius: 64px 0 0 0;
  width: 100%;
  max-width: 800px;
  left: 5rem;
  bottom: 0;
  object-fit: cover;
  @media (max-width: $screen-md) {
    display: none;
  }
}
