@import "../colors";
@import "../variables";

header {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 16px;
  border-bottom: 1px solid $color-grey-50;
  @media (max-width: $screen-sm) {
    padding: 16px 16px;
  }
  @media (min-width: $screen-sm) {
    padding: 16px 120px;
  }
}

.header__logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__links {
  display: flex;
  gap: 50px;
  font-family: Inter, sans-serif;
  font-size: 14px;
}

.header__links-default {
  outline: none;
  text-decoration: none;
  color: $color-grey-900;
}

.header__links-default:hover {
  outline: none;
  text-decoration: none;
}

//.header__links-current-buttons {
//  outline: none;
//  text-decoration: none;
//  color: black;
//  font-weight: bold;
//}

.header__buttons {
  display: flex;
  gap: 30px;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 14px;
}

.header__links-signin {
  outline: none;
  text-decoration: none;
  color: $color-grey-800;
  font-weight: bold;
}

.header__buttons-signup {
  appearance: none;
  border: 0;
  border-radius: 10px;
  background: $color-grey-50;
  color: $color-primary-blue;
  padding: 10px;
  font-weight: bold;
}
