@import "../colors";

.form__submit-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background: $color-primary-blue;
  border: 2px solid rgba(28, 52, 236, 0.16);
  box-shadow: 0 4px 12px rgba(28, 52, 236, 0.24);
  border-radius: 12px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.03em;
  cursor: pointer;
  transition: 0.25s;
}

.form__submit-button:hover {
  background: #1229d2;
  border: 2px solid rgba(0, 0, 0, 0.24);
  box-shadow: 0 4px 24px rgba(81, 101, 255, 0.4);
  border-radius: 12px;
}

.form__submit-button:active {
  background: #0d21bd;
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding: 14px 12px 10px 12px;
  box-shadow: 0 4px 24px rgba(81, 101, 255, 0.4);
  border-radius: 12px;
}