@import "../colors";
@import "../variables";

.vacancies__body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media (max-width: $screen-sm) {
    padding: 0 16px;
  }
  @media (min-width: $screen-sm) {
    padding: 0 120px;
  }
  padding-top: calc(32px + 1rem + 80px);
}
