@import "../colors";
@import "../variables";

.vacancies__body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media (max-width: $screen-sm) {
    padding: 120px 16px;
  }
  @media (min-width: $screen-sm) {
    padding: 120px 120px;
  }

  > p {
    @media (min-width: $screen-sm) {
      width: 70%;
    }
  }
}
