<!doctype html>

<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>meeeme</title>

    <link href="../style/navbar.css" rel="stylesheet">
    <link href="../style/main.css" rel="stylesheet">
</head>

<body style="margin: 0">
    <div class="navbar">
        <div class="navbar__logo">
            <img src="../img/logo.svg">
            <img src="../img/Jobflow.svg">
        </div>
        <div class="navbar__links">
            <p class="navbar__links-current"><a class="navbar__links-current-buttons" href="../style/main.css">Главная</a></p>
            <p><a class="navbar__links-default" href="vacancies.html">Все вакансии</a></p>
            <p><a class="navbar__links-default" href="vacancies.html">Создать резюме</a></p>
        </div>

        <div class="navbar__buttons">
            <div class="navbar__buttons-signin">
                <p>Войти</p>
            </div>

            <button class="navbar__buttons-signup">
                Создать аккаунт!
            </button>
        </div>
    </div>
    <hr>
    <div class="main">
        <div class="main__intro">
            <img style="width: 73px; height: 16px;" src="../img/Jobflow.svg">
            <div class="main__intro-big">
                Начни строить<br>
                свою карьеру<br>
                прямо сейчас!
            </div>
            <div class="main__intro-small">
                На нашем сайте вы всегда можете узнать последние новости рынка труда,<br>
                а также изучить свежий обзор зарплат, с помощью которого легко<br>
                оценить, на какие должности стоит нацелиться.
            </div>
            <div class="main__intro-buttons">
                <button class="main__intro-buttons-signup">
                    Регистрация
                </button>

                <button class="main__intro-buttons-signin">
                    Войти
                </button>
            </div>
        </div>
        <div class="main__picture">
            <img src="../img/main_banner.svg">
        </div>
    </div>
</body>