<!doctype html>

<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>meeeme</title>

    <link href="../style/header.css" rel="stylesheet">
    <link href="../style/main.css" rel="stylesheet">
</head>

<body style="margin: 0">
    <header>
        <div class="header__data">
            <div class="header__logo">
                <img src="../img/logo.svg" alt="logo">
                <img src="../img/Jobflow.svg" alt="Jobflow">
            </div>
            <div class="header__links">
                <p><a class="header__links-current-buttons" href="#">Главная</a></p>
                <p><a class="header__links-default" href="vacancies.html">Все вакансии</a></p>
                <p><a class="header__links-default" href="vacancies.html">Создать резюме</a></p>
            </div>

            <div class="header__buttons">
                <div class="header__buttons-signin">
                    <p>Войти</p>
                </div>

                <button class="header__buttons-signup">
                    Создать аккаунт!
                </button>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="main__intro">
            <img src="../img/Jobflow.svg" width="91" height="20" alt="Jobflow">
            <div class="main__intro-big">
                Начни строить<br>
                свою карьеру<br>
                прямо сейчас!
            </div>
            <div class="main__intro-small">
                На нашем сайте вы всегда можете узнать последние новости рынка труда,<br>
                а также изучить свежий обзор зарплат, с помощью которого легко<br>
                оценить, на какие должности стоит нацелиться.
            </div>
            <div class="main__intro-buttons">
                <button class="main__intro-buttons-signup">
                    Регистрация
                </button>

                <button class="main__intro-buttons-signin">
                    Войти
                </button>
            </div>
        </div>
        <div class="main__picture">
            <img src="../img/main_banner.svg" alt="banner">
        </div>
    </div>
</body>
