<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>meeeeeme</title>

    <link href="../style/header.css" rel="stylesheet">
    <link href="../style/vacancies.css" rel="stylesheet">
</head>
<body style="margin: 0">
    <div class="header">
        <div class="header__data">
            <div class="header__logo">
                <img src="../img/logo.svg" alt="logo">
                <img src="../img/Jobflow.svg" alg="Jobflow">
            </div>
            <div class="header__links">
                <p><a class="header__links-default" href="main.html">Главная</a></p>
                <p><a class="header__links-current-buttons" href="vacancies.html">Все вакансии</a></p>
                <p><a class="header__links-default" href="vacancies.html">Создать резюме</a></p>
            </div>

            <div class="header__buttons">
                <div class="header__buttons-signin">
                    <p>Войти</p>
                </div>

                <button class="header__buttons-signup">
                    Создать аккаунт!
                </button>
            </div>
        </div>
        <hr>
    </div>
    <div class="vacancies">
        <div class="vacancies__cards">
            <div class="vacancies__header">
                Все вакансии
            </div>
            <div class="vacancies__cards-intro">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis sapien quis<br>
                volutpat aenean et, sapien venenatis pellentesque et. Vel commodo arcu<br>
                imperdiet fusce porta non nunc, massa pulvinar. At lectus faucibus ac
            </div>
            <div class="vacancies__cards-list">
                <div class="vacancies__cards-single">
                    <div class="vacancies__cards-data">
                        <img src="../img/vk_logo.svg" alt="VK logo">

                        <div class="vacancies__cards-metadata">
                            <div class="vacancies__cards-header">
                                <div class="vacancies__cards-name">
                                    Middle Frontend developer
                                </div>
                                <div class="vacancies__cards-company-metadata">
                                    <a href="#" class="vacancies__cards-company-name">VK</a>
                                    <div class="vacancies__cards-company-location">
                                        in Moscow
                                    </div>
                                </div>
                            </div>

                            <div class="vacancies__cards-description">
                                90% frontend (разработка UI-компонентов на Vue.js, верстка в соответствии с дизайном). 10% backend (формирование запросов к АПИ и обработка...
                            </div>

                            <div class="vacancies__cards-publish-date">
                                September 17, 2022 • 14:30
                            </div>
                        </div>
                        <div class="vacancies__cards-salary">
                            260.000₽ в месяц
                        </div>
                    </div>
                </div>
                <div class="vacancies__cards-single">
                    <div class="vacancies__cards-data">
                        <img src="../img/vk_logo.svg" alt="VK logo">

                        <div class="vacancies__cards-metadata">
                            <div class="vacancies__cards-header">
                                <div class="vacancies__cards-name">
                                    Middle Frontend developer
                                </div>
                                <div class="vacancies__cards-company-metadata">
                                    <a href="#" class="vacancies__cards-company-name">VK</a>
                                    <div class="vacancies__cards-company-location">
                                        in Moscow
                                    </div>
                                </div>
                            </div>

                            <div class="vacancies__cards-description">
                                90% frontend (разработка UI-компонентов на Vue.js, верстка в соответствии с дизайном). 10% backend (формирование запросов к АПИ и обработка...
                            </div>

                            <div class="vacancies__cards-publish-date">
                                September 17, 2022 • 14:30
                            </div>
                        </div>
                        <div class="vacancies__cards-salary">
                            260.000₽ в месяц
                        </div>
                    </div>
                </div>
                <div class="vacancies__cards-single">
                    <div class="vacancies__cards-data">
                        <img src="../img/vk_logo.svg" alt="VK logo">

                        <div class="vacancies__cards-metadata">
                            <div class="vacancies__cards-header">
                                <div class="vacancies__cards-name">
                                    Middle Frontend developer
                                </div>
                                <div class="vacancies__cards-company-metadata">
                                    <a href="#" class="vacancies__cards-company-name">VK</a>
                                    <div class="vacancies__cards-company-location">
                                        in Moscow
                                    </div>
                                </div>
                            </div>

                            <div class="vacancies__cards-description">
                                90% frontend (разработка UI-компонентов на Vue.js, верстка в соответствии с дизайном). 10% backend (формирование запросов к АПИ и обработка...
                            </div>

                            <div class="vacancies__cards-publish-date">
                                September 17, 2022 • 14:30
                            </div>
                        </div>
                        <div class="vacancies__cards-salary">
                            260.000₽ в месяц
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="vacancies__settings-block" src="../img/strange_rect.svg" alt="field for settings">
    </div>
</body>
</html>
