@import '../../../../styles/globals.scss';

.input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-8);
  padding: var(--padding-16) 0 var(--padding-16) var(--padding-16);
  background: var(--background-0);
  border: var(--border-default);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-grey-xs);
  transition: var(--transition-sfast);
  outline: none;
  font-size: 14px;
  color: var(--background-900);
  &::placeholder {
    font-size: var(--input-font-size);
    color: var(--background-200);
  }
  &:focus {
    outline: 2px solid var(--primary-blue)
  }
  &[type="date" i] {
    font-family: Inter, sans-serif;
  }
}

.form {
  height: 52px;
}

.input__error {
  color: var(--primary-red);
  border: var(--border-red);
  background-color: var(--background-red);
  box-shadow: var(--shadow-red-md);
  + p {
    font-weight: 600;
    font-size: 12px;
    color: var(--primary-red);
  }
}

.textarea {
  width: 100%;
  min-height: 120px;
  font-family: Inter, sans-serif;
}

.label {
  font-size: 14px;
  color: var(--background-600);
}

.icon {
  width: 16px;
  //padding-top: 18px;
  //padding-left: 16px;
  //position: absolute;
  cursor: pointer;
}

.file_label {
  font-weight: 500;
  color: var(--background-700);
}

.file_input {
  opacity: 0;
  position: absolute;
}


.loup {
  width: 16px;
  cursor: pointer;
}

.menu {
  gap: var(--gap-32);
  left: 0;
  align-items: center;
  padding-top: 13px;
  padding-left: 24px;
  @media (max-width: $screen-md) {
    gap: var(--gap-12);
  }
}

.menu_data {
  font-size: 16px;
  color: var(--background-400);
  @media (max-width: $screen-md) {
    font-size: 14px;
  }
}

.search_line {
  width: 1px;
}

.search_input {
  padding-left: 220px;
  @media (max-width: $screen-md) {
    font-size: 14px;
    padding-left: 150px;
  }
}

.search_arrow {
  width: 6px;
}

.search_button {
  border-radius: var(--border-radius-xl);
  color: black;
}

.chips_input {
  padding: 6px;
  max-height: 27px;
  border-radius: var(--border-radius-sm);
  background-color: var(--background-50);
  border: none;
  color: var(--background-700);
  ::placeholder {
    color: var(--background-700);
  }
}

.select {
  max-height: 100%;
  width: 100%;
  padding: var(--padding-16);
  background: var(--background-0);
  border: var(--border-default);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-grey-xs);
  transition: var(--transition-sfast);
  outline: none;
  font-size: 14px;
  color: var(--background-900);
}
.dropdown {
  width: max-content;
  margin-left: 8px;
  color: var(--background-400);
}

.dropdown_options {
  cursor: pointer;
  &:hover {
    color: var(--background-600);
  }
}

