@import '../../../../styles/globals.scss';

.input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-8);
  padding: var(--padding-16);
  height: var(--input-height);
  background: var(--background-0);
  border: var(--border-default);
  border-radius: var(--border-radius-lg);
  transition: var(--transition-sfast);
  outline: none;
  font-size: 14px;
  &::placeholder {
    font-size: var(--input-font-size);
  }
  &:focus {
    outline: var(--border-blue);
    outline-width: 2px;
  }
}

.textarea {
  font-family: Inter, sans-serif;
}

.label {
  font-size: var(--input-font-size);
  color: var(--background-600);
}

.icon_cursor{
  padding-left: 45px;
}

.icon {
  width: 16px;
  padding-top: 19px;
  padding-left: 16px;
  cursor: pointer;
}

.loup {
  width: 16px;
  cursor: pointer;
}

.menu {
  right: 0;
  padding-top: 19px;
  padding-right: 16px;
}

.menu_data {
  font-size: 14px;
  color: var(--background-200);
}

.search_input {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
}

.search_arrow {
  width: 6px;
}