@import '../../styles/screens';

.profile {
  padding-top: calc(var(--header-height) + 40px);
}

.profile_banner {
  width: 100%;
  height: 240px;
  background-image: linear-gradient(0deg, #192ec4, #077f9a, #c01d49, #07179a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
  background-size: 100% 1100%;
  border-radius: var(--border-radius-xl);
  margin-bottom: 24px;
  @media (max-width: $screen-md) {
    height: 180px;
  }

  animation: Gradient 50s ease-out infinite;
}

@keyframes Gradient {
  0% { background-position: 50% 0% }
  50% { background-position: 50% 50% }
  100% { background-position: 0% 0% }
}

.profile_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  @media (max-width: $screen-md) {
    flex-direction: column;
    align-items: center;
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-24);
  @media (max-width: $screen-md) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
  }
}

.info__avatar {
  height: 160px;
  width: 160px;
  border: 5px solid var(--background-body);
  background-color: var(--primary-blue-darker);
  border-radius: var(--border-radius-max);
  margin-top: calc(-58px - 24px);
  @media (max-width: $screen-md) {
    height: 120px;
    width: 120px;
  }
}