.signup {
    position: relative;
    display: grid;
    grid-template-columns: 50vw 50vw;
    height: 100vh;
}

.menu {
    padding: 0 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.toggle {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.toggle__element {
    padding: 16px 24px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #DADAE0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

.toggle__element h5 {
    color: #9797A2
}

.toggle__element p {
    color: #9BA0C9;
}

.toggle__element-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.toggle__element-icon_active {
    background-color: #1C34EC;
}

.toggle__element-icon_disabled {
    border: 2px solid #DADAE0;
}

.toggle__element-icon_disabled img {
    visibility: hidden;
}

.toggle__active {
    background: #F3F5FF;
    /* Primary */
    border: 2px solid #1C34EC;
    /* Blue/400 */
    box-shadow: 0px 4px 16px rgba(81, 101, 255, 0.24);
    border-radius: 16px;
}

.toggle__active h5 {
    color: #1C34EC;
}

.toggle__active p {
    color: #9BA0C9;
}

.toggle__element-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menu__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px;
    gap: 24px;
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

.form__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 6px;
}

.form__input label {
    color: #6D6D7A;
    letter-spacing: -0.02em;
}

.form__input input {
    padding: 10px 14px;
    background: #FFFFFF;
    border: 1.5px solid #F8F8F8;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
}

.form__input input:focus {
    padding: 10px 14px;
    background: #FFFFFF;
    border: 1.5px solid #DADAE0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.form__submit-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: #1C34EC;
    border: 2px solid rgba(28, 52, 236, 0.16);
    box-shadow: 0 4px 12px rgba(28, 52, 236, 0.24);
    border-radius: 12px;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.03em;
}

.form__question {
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #9797A2;
}

.description {
    padding: 5rem 0 0 5rem;
    background-color: #F8F8F8;
    position: relative;
}

.description__container {
    padding-right: 5rem;
}

.description__header {
    margin-top: 3rem;
}

.description__text {
    margin-top: 2rem;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #6D6D7A;
}

.description__img-wrapper {
    position: relative;
    margin-top: 0;
}

.description__img {
    position: relative;
    border-radius: 64px 0 0 0;
    right: 0;
    bottom: 0;
}
