@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

hr {
    /*margin-top: 25px;*/
    margin-top: 0;
    margin-bottom: 25px;
    border: none;
    background-color: #efefef;
    height: 1px;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(81, 101, 255, 0.24);
    /*justify-content: center;*/
    /*align-items: center;*/
}

.header__data {
    display: flex;
    align-items: center;
    gap: 300px;
    justify-content: center;
    height: 67px;
    outline: #33333C;
}

.header__links {
    display: flex;
    gap: 30px;
    font-family: Inter, sans-serif;
    font-size: 14px;
}

.header__links-current-buttons {
    outline: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header__links-default {
    outline: none;
    text-decoration: none;
    color: black;
}

.header__links-default:hover {
    outline: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.61);
}

.header__buttons {
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
}

.header__buttons-signin {
    font-weight: bold;
}

.header__buttons-signup {
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #F3F5FF;
    color: #1C34EC;
    padding: 10px;
    font-weight: bold;
}

.header__buttons-signup:hover {
    appearance: none;
    border: 0;
    border-radius: 10px;
    color: #F3F5FF;
    background: #1C34EC;
    padding: 10px;
    font-weight: bold;
}

.header__buttons-signup:focus {
    appearance: none;
    border: 0;
    border-radius: 10px;
    color: #F3F5FF;
    background: #1528b2;
    padding: 10px;
    font-weight: bold;
}

.header__logo {
    display: flex;
    gap: 10px;
    align-items: center;
}
