.main {
    margin: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.main__intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main__intro-big {
    font-size: 48px;
    font-weight: bold;
    font-family: Inter, sans-serif;
    line-height: 40px;
}
.main__intro-small {
    font-size: 14px;
    font-weight: revert;
    font-family: Inter, sans-serif;
    line-height: 28px;
    color: #6D6D7A;
}

.main__intro-buttons {
    display: flex;
    gap: 20px;
}

.main__intro-buttons-signup {
    appearance: none;
    border: 0;
    border-radius: 12px;
    box-shadow: 0px 4px 16px rgba(81, 101, 255, 0.24);
    color: #F3F5FF;
    background: #1C34EC;
    padding: 10px;
    font-weight: bold;
}

.main__intro-buttons-signup:hover {
    appearance: none;
    border: 0;
    border-radius: 12px;
    box-shadow: 0px 4px 16px rgba(81, 101, 255, 0.24);
    color: #1C34EC;
    background: #F3F5FF;
    padding: 10px;
    font-weight: bold;
}

.main__intro-buttons-signup:focus {
    appearance: none;
    border: 0;
    border-radius: 10px;
    color: #1C34EC;
    background: #c2c2c2;
    padding: 10px;
    font-weight: bold;
}

.main__intro-buttons-signin {
    appearance: none;
    border: 0;
    border-radius: 12px;
    box-shadow: 0px 4px 16px rgba(81, 101, 255, 0.24);
    color: #1C34EC;
    background: #F3F5FF;
    padding: 10px;
    font-weight: bold;
}

.main__intro-buttons-signin:hover {
    appearance: none;
    border: 0;
    border-radius: 10px;
    color: #1C34EC;
    background: rgba(243, 245, 255, 0.55);
    padding: 10px;
    font-weight: bold;
}

.main__intro-buttons-signin:focus {
    appearance: none;
    border: 0;
    border-radius: 10px;
    color: #1C34EC;
    background: #c2c2c2;
    padding: 10px;
    font-weight: bold;
}