@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.vacancies {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.vacancies__cards {

}

.vacancies__cards-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vacancies__cards-header {
    font-family: Inter, sans-serif;
    font-size: 64px;
    font-weight: bold;
}

.vacancies__cards-intro {
    font-size: 14px;
    font-weight: revert;
    font-family: Inter, sans-serif;
    line-height: 28px;
    color: #6D6D7A;
    padding-bottom: 20px;
}

.vacancies__cards-single {
    font-family: Inter, sans-serif;
    width: 690px;
    height: 233px;

    background: #FFFFFF;
    /* grey/100 */

    outline: 1px solid #DADAE0;
    /* grey */

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vacancies__cards-single:hover {
    font-family: Inter, sans-serif;
    width: 690px;
    height: 233px;

    background: #FFFFFF;
    /* grey/100 */

    outline: 2px solid #1C34EC;
    /* Blue/400 */

    box-shadow: 0px 4px 16px rgba(81, 101, 255, 0.24);
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vacancies__cards-single:focus {
    font-family: Inter, sans-serif;
    width: 690px;
    height: 233px;

    background: #FFFFFF;
    /* grey/100 */

    outline: 2px solid #1C34EC;
    /* Blue/400 */

    box-shadow: 0px 4px 16px rgba(81, 101, 255, 0.24);
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;

    transition: top 1s ease-out 0.5s;
}

.vacancies__cards-data {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 10px;
    gap: 40px;
}

.vacancies__cards-metadata {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vacancies__cards-data-company {
    display: flex;
    gap: 15px;
}

.vacancies__cards-company-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    gap: 5px;
}

.vacancies__cards-company-metadata {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.vacancies__cards-company-name {
    margin: 0;
    color: #97A2FB;
    outline: none;
    text-decoration: none;
    font-weight: bold;
}

.vacancies__cards-company-location {
    color: #9797A2;
}

.vacancies__cards-salary {
    margin: 0;
    font-weight: bold;
}

.vacancies__cards-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vacancies__cards-main-name {
    outline: none;
    text-decoration: none;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: -0.02em;

    /* grey/900 */

    color: #33333C;
}

.vacancies__cards-main-description {
    /* p/default */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */

    letter-spacing: -0.02em;

    /* grey/500 */

    color: #81818E;
}

.vacancies__cards-publish-date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    letter-spacing: -0.02em;

    /* grey/300 */

    color: #ADADB7;
}

.vacancies__settings-block {
    padding-top: 40px
}
