@import '../../../styles/globals.scss';

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--padding-sm);
  color: var(--background-900);
  background: var(--background-0);
  border: var(--border-default);
  box-shadow: var(--shadow-grey-sm);
  border-radius: var(--border-radius-md);
  transition: var(--transition-sfast);
  &:hover {
    box-shadow: var(--shadow-grey-md);
  }
}

.btn-primary-blue {
  background-color: var(--primary-blue);
  border: var(--border-blue);
  color: var(--white);
  box-shadow: var(--shadow-blue-sm);
  &:hover {
    box-shadow: var(--shadow-blue-md);
  }
}

.btn-primary {
  background-color: var(--background-900);
  color: var(--background-0);
  border: var(--border-dark);
}

.btn-arrow {
  padding: 10px;
  svg {
    fill: var(--background-0);
    height: 12px;
    width: 12px;
  }
}
