@import '../../../styles/globals.scss';

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--padding-sm);
  color: var(--background-900);
  background: var(--background-0);
  border: var(--border-default);
  box-shadow: var(--shadow-sm);
  border-radius: var(--border-radius-md);
  transition: var(--transition-sfast);
  &:hover {
    box-shadow: var(--shadow-lg);
  }
}

.btn-primary-blue {
  background-color: var(--primary-blue);
  border: var(--border-blue);
  color: var(--white);
}

.btn-primary {
  background-color: var(--background-900);
  color: var(--background-0);
  border: var(--border-dark);
}