@import '../../../styles/globals';

.tagline {
  @media (max-width: $screen-lg) {
    display: none;
  }
}

.items {
  @media (max-width: $screen-sm) {
    display: none;
  }
}

.item {
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
  &:active {
    color: var(--background-900);
  }
}
